@font-face {
  font-family: "Calibri";
  src: url("./resources/calibri font sv/Calibri Regular.ttf") format("truetype");
}

,
@font-face {
  font-family: "Calibri Bold";
  src: url("./resources/calibri font sv/Calibri-Bold.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  font-family: "Calibri" !important;
}

.bg {
  background-color: #e0e0e0;
  height: 100%;
}

.shadow {
  -webkit-box-shadow: 0 4px 6px -6px black;
  -moz-box-shadow: 0 4px 6px -6px black;
  box-shadow: 0 4px 6px -6px black;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  height: 5px;
  width: 100%;
  background-color: white;
}

.search {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="text"] {
  border-radius: 40px;
  width: 90%;
  padding: 9px 0;
  border: 1px solid grey;
  text-align: left;
}
::placeholder {
  margin-top: 5px;
  font-size: 1.5em;
  padding: 1em;
}

#srch {
  height: 30px;
  width: 30px;
  margin-left: -32px;
}

.search:hover {
  cursor: pointer;
}

.icon-nav {
  display: flex;
  flex-direction: column;
}

.icon-nav:hover {
  color: black;
  transition: all 0.3s ease 0s;
}

.icon-nav img {
  height: 20px;
  width: 20px;
  align-self: center;
  margin-bottom: 5px;
}

.right-links {
  display: flex;
}

.right-links a {
  padding: 0 20px;
  text-decoration: none;
  color: inherit;
  color: grey;
}

.right-links a:hover {
  color: black;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

#arr {
  height: 10px;
  width: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: block;
  position: absolute;
  margin-top: 14px;
  background-color: black;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a:hover {
  color: white;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: 0.5px solid grey;
}

#Popularity {
  border-bottom: 1px solid black;
  width: 100%;
  margin: auto;
}

.catalog {
  width: 95%;
  margin: 0 auto;
  padding: 1em 0;
  height: 110px;
}
.header {
  padding: 0.5em 0;
  text-align: left;
}

.header h1 {
  font-weight: 800;
  font-size: 2em;
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.drp {
  border-radius: 40px;
  border: 1px solid grey;
  padding: 4px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
}

.drp:hover {
  cursor: pointer;
}

.filter span {
  margin-right: 5px;
}

.drp img {
  height: 15px;
  width: 15px;
}

.dropdown-content1 {
  position: absolute;
  margin-top: 170px;
  margin-left: 55px;
  background-color: white;
  min-width: 100px;
  z-index: 1;
}

.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.z-index {
  position: relative;
  z-index: 1;
  background: #ffa500;
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
  top: -20px;
}

#prem {
  left: -10px;
}

#econ {
  left: -10px;
}

#text-align-left {
  text-align: left;
}

.content {
  width: 95%;
  margin: 1em auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  margin-top: 40px;
}

.main {
  background-color: white;
  padding: 10px 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#main-img {
  margin-left: 25px;
  padding: 5px 0;
}

.heading h1 {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.5em;
}

.bold {
  font-weight: bold;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2em;
  padding: 5px 5px;
}

.details {
  display: flex;
  margin-top: 4px;
}

.icon {
  display: flex;
}

.icon img {
  height: 16px;
  width: 16px;
  align-self: center;
  margin-left: 5px;
}

.text {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.text span {
  padding: 5px 0px;
}

.text.row {
  width: 90px;
}

#total1 {
  width: 100px;
}
#total {
  width: 60px;
}

.adc {
  background-color: #ffa500;
  border-radius: 40px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adc.notify {
  background-color: white;
  border: 2px solid #ffa500;
  padding: 10px 10px;
}

#icononly {
  padding: 10px 10px;
}

.red {
  color: #8e1216;
}

.adc:hover {
  cursor: pointer;
}

#adc {
  height: 20px;
  width: 25px;
  margin-right: 5px;
}

#rem {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.quantity {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.counter,
#main {
  width: 120px;
  height: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto 0;
}

.counter .incre,
.decre,
.number {
  height: 100%;
  width: 100%;
  font-size: 1.2em;
  border: 1px solid #e0e0e0;
}

.counter .incre,
.decre {
  cursor: pointer;
}

.counter .number {
  background-color: #e0e0e0;
}

.counter span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-container {
  width: 95%;
  height: 80%;
  margin: 1em auto;
  background-color: #e0e0e0;
}

.bg-container {
  display: flex;
  flex-direction: column;
}

.rows {
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: center;
  background-color: white;
  margin: 0.5em auto;
}

.name h1 {
  text-decoration: underline;
  font-weight: bold;
  width: 150px;
}

.load-more {
  width: 95%;
  margin: auto;
}

.load-more button {
  border: 1px solid grey;
  width: 100%;
  border-radius: 40px;
  height: 3em;
  margin: 0.5em auto;
  font-size: 1em;
}
